* {
  overflow: visible;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: var(--color-standard);
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: var(--fontweighttitle);
}

table {
  border-collapse: collapse;
}

h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-standard);
}

img {
  display: block;
}

button {
  border: none;
  outline: none;
}

a,
button,
.team__white-circle,
.foooter__circle,
.our-customers__box2,
.we-do__pictures,
.sec-portf__pictures > div {
  cursor: pointer;
}

footer {
  background-color: var(--color-footer);
  color: var(--color-standard);
  padding: 60px 0px;
}

.main-container {
  display: block;
  overflow-x: scroll;
  margin-left: auto;
  margin-right: auto;
  width: 480px;
}

@media screen and (min-width: 480px) {
  .main-container {
    overflow-x: default;
  }
}

@media screen and (min-width: 768px) {
  .main-container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .main-container {
    width: 1600px;
  }
}
