.foooter {
  display: flex;
  @include set-flex-direction(column, column, column, row);
  padding: 0px 15px;
  gap: 70px;

  &__site {
    @include site;
  }

  // &__tablet {
  //   display: flex;
  //   align-items: inherit;
  //   @include set-flex-direction(column, column, row, row);
  //   justify-content: center;
  //   @include set-foooter-gap();
  // }

  &__grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    gap: 60px;
    @media screen and (min-width: 768px) {
      grid-template-columns: auto auto;
      grid-template-rows: auto;
    }
    @media screen and (min-width: 1200px) {
      grid-template-columns: auto auto;
      grid-template-rows: auto;
      gap: 70px;
    }
    justify-content: center;
  }

  &__logo {
    display: flex;
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    @media screen and (max-width: 768px) {
      justify-content: center;
    }
    @media screen and (min-width: 768px) {
      justify-content: center;
    }
    @media screen and (min-width: 1200px) {
      justify-content: flex-start;
      font-size: 26px;
    }
    letter-spacing: 0.03em;
    color: var(--color-logo);
  }

  &__logo-bottom {
    color: var(--color-standard);
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 768px) {
      align-items: center;
    }
    @media screen and (min-width: 768px) {
      align-items: center;
    }
    @media screen and (min-width: 1200px) {
      align-items: flex-start;
    }
  }

  &__contact {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: var(--fontweightsectiontitle);
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--color-contact);
  }

  &__contact-address {
    padding-top: 20px;
    font-weight: var(--fontweightstandard);
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--color-standard);
  }

  &__contact-details {
    letter-spacing: 0.03em;
    font-weight: var(--fontweightstandard);
  }

  &__join-us {
    @media screen and (max-width: 320px) {
      // display: flex;
      // flex-direction: column;
      // margin-left: auto;
      // margin-right: auto;
      // gap: 20px;
    }
    @media screen and (min-width: 480px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
    @media screen and (min-width: 1200px) {
      display: block;
      flex-direction: column;
    }
  }

  &__join-us-title {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-standard);
    // @media screen and (max-width: 768px) {
    //   justify-content: center;
    //   gap: 20px;
    // }
    @media screen and (min-width: 768px) {
      margin-top: 5px;
      gap: 20px;
    }
    @media screen and (min-width: 1200px) {
      margin-top: 12px;
      margin-bottom: 20px;
    }
  }

  &__icon-social-media {
    @include icon-social-media;
    fill: var(--color-standard);
  }

  &__circle {
    @include circle(var(--diameter-icon-social));
  }

  &__circle:hover,
  &__circle:focus {
    @include circle-transform;
  }

  &__sign-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 480px) {
      // scroll
    }
    @media screen and (min-width: 480px) {
      gap: 20px;
    }
    @media screen and (min-width: 768px) {
      gap: 20px;
    }
    @media screen and (min-width: 1200px) {
      flex-direction: row;
      justify-content: flex-start;
      gap: 12px;
    }
  }

  &__newsletter {
    @media screen and (max-width: 320px) {
      // display: flex;
      // flex-direction: column;
      // margin-left: auto;
      // margin-right: auto;
      // gap: 20px;
    }
    @media screen and (min-width: 480px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
    @media screen and (min-width: 1200px) {
      display: block;
      flex-direction: column;
      margin-left: 8px;
    }
  }

  &__newsletter-title {
    @extend .foooter__join-us-title;
  }

  &__newsletter-form {
    display: flex;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(var(--shadow));
    border-radius: 4px;
    width: 450px;
    @media screen and (min-width: 1200px) {
      width: 358px;
    }
    height: 50px;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    padding: 15px 16px;
  }
}
