.poster {
  background-color: var(--kolor-stopka);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/tlo-480-400.png');
  &__site {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    & > h1 {
      font-size: 26px;
    }
  }
}

@media screen and (min-width: 768px) {
  .poster {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/tlo-768-400.png');
  }
}

@media screen and (min-width: 1200px) {
  .poster {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/tlo-1600-600.png');
  }

  .poster__site {
    height: 600px;
    & > h1 {
      font-size: 44px;
    }
  }
}
