.sec-portf {
  &__site {
    @include site;
  }

  &__space {
    @include space;
  }

  &__buttons {
    padding-bottom: 50px;
    display: flex;
    gap: 8px;
    justify-content: center;
  }
  &__column {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  &__pictures {
    @include pictures;
  }

  &__picture {
    width: 370px;
    height: 294px;
    margin: 0 auto;
    background-color: #bdbdbd;
    position: relative;
    overflow: hidden;
  }

  &__pictures div div {
    border: 1px solid var(--color-picture-frame);
  }

  &__pictures > div:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: var(--f-czasu);
  }

  &__pictures > div:hover .overlay,
  &__pictures > div:focus .overlay {
    transform: translatex(0%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: var(--f-czasu);
  }

  &__picture-title {
    padding-top: 20px;
    padding-left: 24px;
    padding-bottom: 4px;
    font-weight: var(--fontweightsectiontitle);
    font-size: 18px;
    letter-spacing: 0.06em;
    color: #212121;
  }

  &__picture-describ {
    padding-left: 24px;
    padding-bottom: 20px;
    font-weight: var(--fontweightstandard);
    font-size: 16px;
    letter-spacing: 0.03em;
    color: #757575;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translatey(100%);
  background-color: var(--color-logo);
  transition: transform 250ms var(--f-czasu);
}

.overlay p {
  padding: 49px 45px 49px 24px;
  margin: 0;
  font-weight: var(--fontstandard);
  font-size: 18px;
  letter-spacing: 0.03em;
  color: var(--color-standard);
}
