.section-ipsum {
  &__site {
    @include site;
  }

  &__space {
    padding: var(--space1) 0px;
  }

  &__table-ipsum {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-left: 15px;
    padding-right: 15px;
  }

  &__box {
    display: flex;
    height: 120px;
    background: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
  }

  &__header {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-default);
    margin-bottom: 10px;
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--color-kontakt);
  }

  &__icon {
    fill: var(--color-black);
  }
}
