@mixin display-row($gap) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $gap;
}

@mixin site() {
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

@mixin set-font-size($s480, $s768, $s1200) {
  font-size: $s480;
  @media screen and (min-width: 768px) {
    font-size: $s768;
  }
  @media screen and (min-width: 1200px) {
    font-size: $s1200;
  }
}

@mixin set-flex-direction($fd480, $fd768, $fd1200) {
  flex-direction: $fd480;
  @media screen and (min-width: 768px) {
    flex-direction: $fd768;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: $fd1200;
  }
}

@mixin set-flex-gap($fg480, $fg768, $fg1200) {
  gap: $fg480;
  @media screen and (min-width: 768px) {
    gap: $fg768;
  }
  @media screen and (min-width: 1200px) {
    gap: $fg1200;
  }
}

@mixin set-foooter-gap() {
  gap: 14px;
  @media screen and (min-width: 768px) {
    gap: 144px;
  }
  @media screen and (min-width: 1200px) {
    gap: 70px;
  }
}

@mixin set-justify-content($jc480, $jc768, $jc1200) {
  justify-content: $jc480;
  @media screen and (min-width: 768px) {
    justify-content: $jc768;
  }
  @media screen and (min-width: 1200px) {
    justify-content: $jc1200;
  }
}

@mixin circle($diameter-icon-social) {
  @include display-row(10px);
  width: $diameter-icon-social;
  height: $diameter-icon-social;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

@mixin white-circle($diameter-icon-social) {
  display: flex;
  width: $diameter-icon-social;
  height: $diameter-icon-social;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  fill: var(--color-icon);
}

@mixin circle-transform() {
  background-color: var(--color-logo);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--time-function);
}

@mixin icon-social-media() {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

@mixin space-down() {
  padding-bottom: 94px;
}

@mixin space() {
  width: 1600;
  border-bottom: 1px solid var(--color-horizont-line);
}

@mixin section-space() {
  padding: 94px 0px;
}

@mixin pictures() {
  display: flex;
  justify-content: center;
  gap: 30px;
}

@mixin pictures-d-h() {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--time-function);
}
