:root {
  --color-default: #212121;
  --color-logo: #2196f3;
  --color-contact: #757575;
  --color-btn-not-activ: #f5f4fa;
  --color-footer: #2f303a;
  --color-horizont-line: #ececec;
  --color-ground: #e5e5e5;
  --color-picture-frame: #eeeeee;
  --color-icon: #afb1b8;
  --color-standard: #ffffff;
  --color-black: #2a2a2a;
  --shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
  --space1: 94px;
  --diameter-icon-social: 44px;
  --gap10: 10px;
  --fontweightstandard: 400;
  --fontweighttitle: 500;
  --fontweightsectiontitle: 700;
}
